<div class="col scrollable-item h-100">
  <div class="card h-100">
    <a class="ratio ratio-1x1 " routerLink="{{item.id}}">
      <img src="{{item.image}}" class="card-img-top " alt="item"/>
    </a>
    <div class="card-body">
      <div class="row mt-2 align-items-center">
        <p class="col card-title h4 fw-bold">
          {{item.name}}
        </p>
        <button class="col-3 text-secondary h3 text-end btn btn-link" (click)="toggleFavourite()">
          <span class="material-icons align-bottom" [ngClass]="{'text-danger': isFavourite}">favorite</span>
        </button>
      </div>
      <div hidden class="category-name">category</div>
      <div class="row align-items-baseline">
        <p class="col card-text text-dark card-description">
          {{item.description}}
        </p>
        <p class="col text-end"><small class="text-muted ">Expires in {{item.duration}} days</small></p>
      </div>

      <div class="row mt-4 align-items-baseline align-bottom h-100">
        <p class="col-4 h4 text-dark fw-bold text-nowrap">
          {{item.price | currency:'USD':'symbol-narrow':'1.0-0'}}
        </p>
        <div class="col-8 text-end">
          <button class="btn btn-outline-secondary py-1 text-nowrap " (click)="addToCart(item)"
                  matBadge="{{addToCartPressed}}" matBadgeColor="primary" [matBadgeHidden]="(addToCartPressed === 0)"
                  matBadgePosition="below">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
